.ulip-calculator {
  font-family: "Open Sans", sans-serif;
  /* slider styling */
  /*style for  buttons*/
  /*this is reserved class for radio card selection functionality*/ }
  .ulip-calculator input:not([type]),
  .ulip-calculator input[type="date"]:not(.browser-default),
  .ulip-calculator input[type="datetime-local"]:not(.browser-default),
  .ulip-calculator input[type="datetime"]:not(.browser-default),
  .ulip-calculator input[type="email"]:not(.browser-default),
  .ulip-calculator input[type="number"]:not(.browser-default),
  .ulip-calculator input[type="password"]:not(.browser-default),
  .ulip-calculator input[type="search"]:not(.browser-default),
  .ulip-calculator input[type="tel"]:not(.browser-default),
  .ulip-calculator input[type="text"]:not(.browser-default),
  .ulip-calculator input[type="time"]:not(.browser-default),
  .ulip-calculator input[type="url"]:not(.browser-default),
  .ulip-calculator textarea.materialize-textarea {
    margin: 0 10px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    outline: none;
    height: inherit;
    font-size: inherit; }
  .ulip-calculator label {
    color: inherit;
    font-size: inherit; }
  .ulip-calculator .Mask {
    min-height: 100vh;
    padding: 25px;
    background-color: #eff4fa; }
  .ulip-calculator .Rectangle {
    position: relative;
    width: 60%;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 4px 6px 0 rgba(172, 184, 195, 0.79);
    background-color: #fff; }
  .ulip-calculator .Calculator-heading {
    height: 27px;
    font-size: 20px;
    color: #0d4da1;
    margin: 0px;
    padding: 0px; }
  .ulip-calculator .Calculator-description {
    margin-bottom: 33px;
    font-size: 12px;
    line-height: 1.42;
    color: #131313;
    width: 60%; }
  .ulip-calculator .Name {
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #131313; }
  .ulip-calculator .error-display {
    color: red;
    text-align: right; }
  .ulip-calculator .Input {
    margin: 0 10px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    outline: none; }
  .ulip-calculator .Input-Wrapper {
    margin: 30px 0; }
  .ulip-calculator .radioButtonLabel {
    position: relative;
    display: inline-block;
    margin: 16px;
    margin-bottom: 0px; }
  .ulip-calculator input[type="radio"] {
    position: absolute;
    background-color: transparent;
    background-image: none;
    z-index: -6666; }
  .ulip-calculator .ticker {
    position: absolute;
    background-image: url(/assets/image/Artboard.png);
    background-position: -119px -51px;
    width: 17px;
    height: 16px;
    top: 6px;
    left: 6px; }
  .ulip-calculator .selected-ticker {
    background-image: url(/assets/image/Artboard.png);
    background-position: -146px -52px;
    width: 15px;
    height: 15px; }
  .ulip-calculator .imageWrapper {
    display: inline-block;
    position: relative; }
  .ulip-calculator .selected-input-value {
    font-weight: 800;
    font-size: 1rem;
    margin: 0px 6px; }
  .ulip-calculator .customRadioButton {
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #e6e6e6;
    background-color: #ffffff; }
  .ulip-calculator .radioCard {
    margin: 16px auto; }
  .ulip-calculator .imageDescription {
    display: none;
    width: 103px;
    height: 80px;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.5;
    border-left: dashed 1px #979797;
    padding: 0px 7px;
    letter-spacing: normal;
    color: #131313; }
  .ulip-calculator .imageWrapper:hover ~ .imageDescription {
    display: inline; }
  .ulip-calculator .male-input-image {
    background-image: url(/assets/image/Artboard.png);
    background-position: -231px -135px;
    width: 65px;
    height: 72px; }
  .ulip-calculator .female-input-image {
    background-image: url(/assets/image/Artboard.png);
    background-position: -315px -131px;
    width: 61px;
    height: 73px; }
  .ulip-calculator .gender-image {
    margin: 20px 20px 0px; }
  .ulip-calculator .sliderWrapper {
    display: flex; }
  .ulip-calculator .inputValueWrapper {
    font-size: 1rem;
    display: flex;
    align-items: center; }
  .ulip-calculator .rangeInput {
    overflow: hidden;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: #acb8c3c9;
    outline: none;
    border: none; }
  .ulip-calculator .rangeInput::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    margin-top: -1px; }
  .ulip-calculator .rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -7px;
    appearance: none;
    background: url(/assets/image/Artboard.png);
    background-position: -175px -50px;
    width: 19px;
    height: 22px;
    cursor: pointer;
    box-shadow: -225px 0px 0 225px #f58220; }
  .ulip-calculator .thumb {
    background: url(/assets/image/Artboard.png);
    background-position: -175px -50px;
    width: 19px;
    height: 22px;
    position: absolute;
    top: 0; }
  .ulip-calculator .rangeInputWrapper {
    width: 450px;
    /* Full-width */
    margin: 0px 10px;
    position: relative; }
  .ulip-calculator .guideDiv {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: #131313; }
  .ulip-calculator .rangeInputValue {
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    margin: 0px 10px;
    color: #131313;
    font-stretch: normal;
    line-height: normal;
    border-bottom: 1px solid #d9d9d9; }
  .ulip-calculator .rangeInputPrefixSuffix {
    font-size: 0.75rem;
    font-weight: normal;
    text-align: center;
    color: #131313;
    display: flex;
    align-items: center; }
  .ulip-calculator .prevBtn {
    position: absolute;
    top: 45%;
    left: 92%;
    margin: 0px 50px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: space-around;
    background-color: #b8b8b8;
    border-radius: 100px;
    border: none; }
  .ulip-calculator .buttonText {
    display: none;
    color: #ffffff; }
  .ulip-calculator .prevBtn:hover .buttonText {
    display: block;
    padding-left: 10px;
    transition: left; }
  .ulip-calculator .prevBtn:hover {
    background-color: #017dc1;
    width: 114px;
    left: 87%;
    transition: left width 0.5s; }
  .ulip-calculator .nextBtn {
    position: absolute;
    top: 55%;
    left: 92%;
    margin: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #0d4da1;
    border: none; }
  .ulip-calculator .nextBtn:hover .buttonText {
    display: block;
    padding-left: 10px;
    color: #ffffff; }
  .ulip-calculator .nextBtn:hover {
    width: 93px;
    transition: width 0.5s; }
  .ulip-calculator .PreviousImg {
    background: url(/assets/image/Artboard.png);
    background-position: -104px -94px;
    width: 18px;
    height: 15px; }
  .ulip-calculator .nextImg {
    background: url(/assets/image/Artboard.png);
    background-position: -130px -88px;
    width: 32px;
    height: 29px; }
  .ulip-calculator .inputInfo {
    display: flex;
    align-items: center; }
  .ulip-calculator .inputInfoValue {
    opacity: 0.39;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    color: #131313;
    margin: 0 10px; }
  .ulip-calculator .decliningTermInsuranceImage {
    background: url(/assets/image/Artboard.png);
    background-position: -248px -35px;
    width: 42px;
    height: 47px; }
  .ulip-calculator .fixedTermInsuranceImage {
    background: url(/assets/image/Artboard.png);
    background-position: -311px -35px;
    width: 48px;
    height: 48px; }
  .ulip-calculator .radioCardImageHeading {
    width: 60%;
    margin: auto;
    padding-bottom: 10px;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.3;
    text-align: center;
    color: #131313; }
  .ulip-calculator .radioOnlyHeadingCard {
    font-size: 0.75rem;
    color: #131313;
    padding: 10px 28px; }
  .ulip-calculator .calculateButton {
    margin-left: 80%;
    left: 60%;
    width: 120px;
    height: 30px;
    font-size: 0.75rem;
    border-radius: 3px;
    background-color: #0d4da1;
    border: none; }
  .ulip-calculator .calculateButton .buttonText {
    display: block; }
  .ulip-calculator .indianRupee {
    color: #464646;
    font-size: 16px; }
  .ulip-calculator .indianRupee-small {
    color: #464646;
    font-size: 12px; }
  .ulip-calculator .saveImg {
    background: url(/assets/image/Artboard.png);
    background-position: -166px -84px;
    width: 32px;
    height: 34px; }
  .ulip-calculator .editIcon {
    background: url(/assets/image/Artboard.png);
    background-position: -210px -51px;
    width: 20px;
    height: 17px; }
  .ulip-calculator .stepInfo {
    font-size: 12px;
    color: #131313; }
  .ulip-calculator .bold {
    font-weight: bold; }
  .ulip-calculator .horoizontalSeprator {
    margin: 5px 0px; }
  .ulip-calculator .step1Info {
    width: 35%;
    padding: 10px 0px;
    font-size: 12px; }
  .ulip-calculator .step1InfoWrapper {
    position: relative; }
  .ulip-calculator .step1EditButton {
    position: relative;
    left: 100%;
    top: 5px; }
  .ulip-calculator .displayNone {
    display: none; }
  .ulip-calculator .show-loader {
    position: relative; }
    .ulip-calculator .show-loader:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      right: 0;
      bottom: 0;
      background: #d8d8d8 url("/assets/image/ring.gif") center center/auto 60px no-repeat;
      opacity: 0.9; }
  .ulip-calculator .full-width {
    width: calc(100% - 60px) !important; }
  .ulip-calculator .flex {
    display: flex; }
  .ulip-calculator .column {
    flex-direction: column; }
  .ulip-calculator .row {
    flex-direction: row; }
  .ulip-calculator .space-between {
    justify-content: space-between; }
  .ulip-calculator .space-around {
    justify-content: space-around; }
  .ulip-calculator .justify-center {
    justify-content: center; }
  .ulip-calculator .text-center {
    text-align: center; }
  .ulip-calculator .round-border {
    border-radius: 7px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff; }
  .ulip-calculator #rightWrapper {
    width: 60%;
    padding: 30px;
    margin-left: 30px; }
    .ulip-calculator #rightWrapper .amount-title {
      font-size: 14px;
      letter-spacing: normal;
      color: #131313; }
    .ulip-calculator #rightWrapper .amount {
      font-family: OpenSans;
      font-size: 24px;
      font-weight: bold; }
    .ulip-calculator #rightWrapper .indianRupee {
      font-size: 21px;
      font-weight: normal; }
    .ulip-calculator #rightWrapper .blue-text {
      color: #0d4da1; }
    .ulip-calculator #rightWrapper .green-text {
      color: #8abe03; }
    .ulip-calculator #rightWrapper .orange-text {
      color: #f58220; }
    .ulip-calculator #rightWrapper .border-bottom {
      padding-bottom: 10px;
      border-bottom: 0.5px solid #e5e5e5; }
    .ulip-calculator #rightWrapper .divider {
      border-right: 1px solid #e5e5e5; }
    .ulip-calculator #rightWrapper #thirdRow {
      padding: 20px 0px; }
    .ulip-calculator #rightWrapper .col-1 {
      border-right: 0.5px dashed #e5e5e5;
      margin-right: 20px;
      width: 50%; }
    .ulip-calculator #rightWrapper .rowTitle {
      width: 50%;
      padding-right: 10px;
      font-size: 12px;
      color: #131313; }
    .ulip-calculator #rightWrapper .rowValue {
      font-size: 12px;
      font-weight: bold;
      color: #131313; }
    .ulip-calculator #rightWrapper #fifthRow {
      margin: 20px 0px; }
      .ulip-calculator #rightWrapper #fifthRow .drBtn,
      .ulip-calculator #rightWrapper #fifthRow .srBtn {
        padding: 5px 40px;
        border: solid 1px #0d4da1;
        font-family: OpenSans;
        font-size: 12px;
        color: #0d4da1;
        background-color: white; }
  .ulip-calculator #leftWrapper {
    width: 40%; }
  .ulip-calculator .nameTitle {
    font-family: OpenSans;
    font-size: 20px;
    font-weight: bold;
    color: #0d4da1; }
  .ulip-calculator .pad-r-10 {
    padding-right: 10px; }
  .ulip-calculator .pad-b-10 {
    padding-bottom: 10px; }
  .ulip-calculator .pad-b-30 {
    padding-bottom: 30px; }
  .ulip-calculator .half-width {
    width: 50%; }
  .ulip-calculator .shareWrapper {
    width: 640px;
    height: 310px;
    border-radius: 7px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.55);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .ulip-calculator .shareWrapper-heading {
    font-family: OpenSans;
    font-size: 20px;
    margin-bottom: 20px; }
  .ulip-calculator .linkWrapper {
    display: flex;
    border: solid 1px #0d4da1;
    background-color: #f4f4f4;
    width: 70%;
    justify-content: space-between;
    align-items: center; }
  .ulip-calculator .copyButton {
    background-color: #0d4da1;
    font-size: 14px;
    color: #fff;
    padding: 13px 26px; }
  .ulip-calculator .link {
    font-size: 14px;
    color: #131313;
    padding: 8px 13px; }
  .ulip-calculator .borderActive {
    border-left: solid 1px #0d4da1;
    padding-left: 20px; }
  .ulip-calculator .borderInactive {
    border-left: solid 1px #dfdfdf;
    padding-left: 20px; }
  .ulip-calculator #step1Wrapper,
  .ulip-calculator #step2Wrapper,
  .ulip-calculator #step3Wrapper {
    min-height: 35px;
    position: relative;
    padding-left: 20px; }
  .ulip-calculator .inactiveIcon {
    background-image: url(/assets/image/Artboard.png);
    background-position: -76px -51px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: -8px; }
  .ulip-calculator .activeIcon {
    background-image: url(/assets/image/Artboard.png);
    background-position: -48px -48px;
    width: 21px;
    height: 22px;
    position: absolute;
    top: -13px;
    left: -11px; }
  .ulip-calculator .filledIcon {
    background-image: url(/assets/image/Artboard.png);
    background-position: -98px -52px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: -8px; }

/*# sourceMappingURL=index.css.map */
