.Mask {
    height: 100vh;
    padding: 25px;
    background-color: #eff4fa;
  }
  
  .Rectangle {
    position: relative;
    width: 60%;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 4px 6px 0 rgba(172, 184, 195, 0.79);
    background-color: #ffffff;
  }
  
  .Calculator-heading {
    height: 27px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0d4da1;
  }
  
  .Calculator-description {
    height: 34px;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: #131313;
  }
  
  .Name {
    font-family: OpenSans;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #131313;
  }
  .error-display {
    color: red;
    text-align: right;
  }
  .Input {
    margin: 0 10px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    outline: none;
  }
  
  .Input-Wrapper {
    margin: 30px 0;
  }
  
  .radioButtonLabel {
    position: relative;
    display: inline-block;
    margin: 16px;
    margin-bottom: 0px;
  }
  
  input[type="radio"] {
    position: absolute;
    background-color: transparent;
    background-image: none;
    z-index: -6666;
  }
  
  .ticker {
    position: absolute;
    background-image: url(/assets/image/sprite.png);
    background-position: -119px -51px;
    width: 17px;
    height: 16px;
    top: 6px;
    left: 6px;
  }
  
  .selected-ticker {
    background-image: url(/assets/image/sprite.png);
    background-position: -146px -52px;
    width: 15px;
    height: 15px;
  }
  
  .imageWrapper {
    display: inline-block;
    position: relative;
  }
  
  .selected-input-value {
    font-weight: 800;
    font-size: 1rem;
    margin: 0px 6px;
  }
  .customRadioButton {
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
  }
  
  .radioCard {
    margin: 16px auto;
  }
  
  .imageDescription {
    display: none;
    width: 103px;
    height: 80px;
    font-family: OpenSans;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.5;
    border-left: dashed 1px #979797;
    padding: 0px 7px;
    letter-spacing: normal;
    color: #131313;
  }
  .imageWrapper:hover ~ .imageDescription {
    display: inline;
  }
  
  .male-input-image {
    background-image: url(/assets/image/sprite.png);
    background-position: -231px -135px;
    width: 65px;
    height: 72px;
  }
  
  .female-input-image {
    background-image: url(/assets/image/sprite.png);
    background-position: -315px -131px;
    width: 61px;
    height: 73px;
  }
  .gender-image {
    margin: 20px 20px 0px;
  }
  /* slider styling */
  .sliderWrapper {
    display: flex;
  }
  
  .inputValueWrapper {
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
  
  .rangeInput {
    /* overflow: hidden; */
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 4px;
    /* Specified height */
    background: #f58220;
    outline: none;
    /* Remove outline */
    border: none;
  }
  
  .rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: url(/assets/image/sprite.png);
    background-position: -175px -50px;
    width: 19px;
    height: 22px;
    cursor: pointer;
  }
  .rangeInputWrapper {
    width: 450px;
    /* Full-width */
    margin: 0px 10px;
  }
  
  .guideDiv {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: #131313;
  }
  
  .rangeInputValue {
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    margin: 0px 10px;
    color: #131313;
    font-stretch: normal;
    line-height: normal;
    border-bottom: 1px solid #d9d9d9;
  }
  
  .rangeInputPrefixSuffix {
    font-size: 0.75rem;
    font-weight: normal;
    text-align: center;
    color: #131313;
    display: flex;
    align-items: center;
  }
  /*style for  buttons*/
  .prevBtn {
    position: absolute;
    top: 45%;
    left: 92%;
    margin: 0px 50px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: space-around;
    background-color: #b8b8b8;
    border-radius: 100px;
    border: none;
  }
  .buttonText {
    display: none;
    color: #ffffff;
  }
  .prevBtn:hover .buttonText {
    display: block;
    padding-left: 10px;
    transition: left;
  }
  .prevBtn:hover {
    background-color: #017dc1;
    width: 114px;
    left: 87%;
    transition: left width 0.5s;
  }
  
  .nextBtn {
    position: absolute;
    top: 55%;
    left: 92%;
    margin: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #0d4da1;
    border: none;
  }
  .nextBtn:hover .buttonText {
    display: block;
    padding-left: 10px;
    color: #ffffff;
  }
  .nextBtn:hover {
    width: 93px;
    transition: width 0.5s;
  }
  
  .PreviousImg {
    background: url(/assets/image/sprite.png);
    background-position: -104px -94px;
    width: 18px;
    height: 15px;
  }
  
  .nextImg {
    background: url(/assets/image/sprite.png);
    background-position: -130px -88px;
    width: 32px;
    height: 29px;
  }
  
  .inputInfo {
    display: flex;
    align-items: center;
  }
  .inputInfoValue {
    opacity: 0.39;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    color: #131313;
    margin: 0 10px;
  }
  
  .decliningTermInsuranceImage {
    background: url(/assets/image/sprite.png);
    background-position: -248px -35px;
    width: 42px;
    height: 47px;
  }
  
  .fixedTermInsuranceImage {
    background: url(/assets/image/sprite.png);
    background-position: -311px -35px;
    width: 48px;
    height: 48px;
  }
  
  .radioCardImageHeading {
    width: 60%;
    margin: auto;
    padding-bottom: 10px;
    font-family: OpenSans;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.3;
    text-align: center;
    color: #131313;
  }
  
  .typeOfLic {
  } /*this is reserved class for radio card selection functionality*/
  
  .radioOnlyHeadingCard {
    font-family: OpenSans;
    font-size: 0.75rem;
    color: #131313;
    padding: 10px 28px;
  }
  
  .calculateButton {
    margin-left: 80%;
    left: 60%;
    width: 120px;
    height: 30px;
    font-size: 0.75rem;
    border-radius: 3px;
    background-color: #0d4da1;
    border: none;
  }
  
  .calculateButton .buttonText {
    display: block;
  }
  
  .indianRupee {
    color: #464646;
    font-size: 16px;
  }
  
  .saveImg {
    background: url(/assets/image/Artboard.png);
    background-position: -166px -84px;
    width: 32px;
    height: 34px;
  }
  .editIcon {
    background: url(/assets/image/sprite.png);
    background-position: -210px -51px;
    width: 20px;
    height: 17px;
  }
  .stepInfo {
    font-size: 12px;
    color: #131313;
  }
  .bold {
    font-weight: bold;
  }
  .horoizontalSeprator {
    margin: 5px 0px;
  }
  .step1Info {
    width: 35%;
    margin: 10px 0px;
  }
  .step1InfoWrapper {
    position: relative;
  }
  .step1EditButton {
    position: relative;
    left: 100%;
    top: 5px;
  }
  .hide {
    display: none;
  }
  .show-loader {
    position: relative;
  
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      right: 0;
      bottom: 0;
      background: $white url("/static/assets/images/ring.gif") center center /
        auto 60px no-repeat;
    }
    &.loader-small {
      &:before {
        background-size: 30px;
      }
    }
    &.min-200 {
      min-height: 200px;
    }
    &.min-100 {
      min-height: 100px;
    }
  }
  