.ulip-calculator {
  $white: #fff;

  font-family: "Open Sans", sans-serif;

  input:not([type]),
  input[type="date"]:not(.browser-default),
  input[type="datetime-local"]:not(.browser-default),
  input[type="datetime"]:not(.browser-default),
  input[type="email"]:not(.browser-default),
  input[type="number"]:not(.browser-default),
  input[type="password"]:not(.browser-default),
  input[type="search"]:not(.browser-default),
  input[type="tel"]:not(.browser-default),
  input[type="text"]:not(.browser-default),
  input[type="time"]:not(.browser-default),
  input[type="url"]:not(.browser-default),
  textarea.materialize-textarea {
    margin: 0 10px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    outline: none;
    height: inherit;
    font-size: inherit;
  }

  label {
    color: inherit;
    font-size: inherit;
  }

  .Mask {
    min-height: 100vh;
    padding: 25px;
    background-color: #eff4fa;
  }

  .Rectangle {
    position: relative;
    width: 60%;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 4px 6px 0 rgba(172, 184, 195, 0.79);
    background-color: $white;
  }

  .Calculator-heading {
    height: 27px;
    font-size: 20px;
    color: #0d4da1;
    margin: 0px;
    padding: 0px;
  }

  .Calculator-description {
    margin-bottom: 33px;
    font-size: 12px;
    line-height: 1.42;
    color: #131313;
    width: 60%;
  }

  .Name {
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #131313;
  }
  .error-display {
    color: red;
    text-align: right;
  }
  .Input {
    margin: 0 10px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    outline: none;
  }

  .Input-Wrapper {
    margin: 30px 0;
  }

  .radioButtonLabel {
    position: relative;
    display: inline-block;
    margin: 16px;
    margin-bottom: 0px;
  }

  input[type="radio"] {
    position: absolute;
    background-color: transparent;
    background-image: none;
    z-index: -6666;
  }

  .ticker {
    position: absolute;
    background-image: url(/assets/image/Artboard.png);
    background-position: -119px -51px;
    width: 17px;
    height: 16px;
    top: 6px;
    left: 6px;
  }

  .selected-ticker {
    background-image: url(/assets/image/Artboard.png);
    background-position: -146px -52px;
    width: 15px;
    height: 15px;
  }

  .imageWrapper {
    display: inline-block;
    position: relative;
  }

  .selected-input-value {
    font-weight: 800;
    font-size: 1rem;
    margin: 0px 6px;
  }
  .customRadioButton {
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
  }

  .radioCard {
    margin: 16px auto;
  }

  .imageDescription {
    display: none;
    width: 103px;
    height: 80px;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.5;
    border-left: dashed 1px #979797;
    padding: 0px 7px;
    letter-spacing: normal;
    color: #131313;
  }
  .imageWrapper:hover ~ .imageDescription {
    display: inline;
  }

  .male-input-image {
    background-image: url(/assets/image/Artboard.png);
    background-position: -231px -135px;
    width: 65px;
    height: 72px;
  }

  .female-input-image {
    background-image: url(/assets/image/Artboard.png);
    background-position: -315px -131px;
    width: 61px;
    height: 73px;
  }
  .gender-image {
    margin: 20px 20px 0px;
  }
  /* slider styling */
  .sliderWrapper {
    display: flex;
  }

  .inputValueWrapper {
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  .rangeInput {
    overflow: hidden;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: #acb8c3c9;
    outline: none;
    border: none;
  }
  .rangeInput::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    margin-top: -1px;
  }

  .rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -7px;
    appearance: none;
    background: url(/assets/image/Artboard.png);
    background-position: -175px -50px;
    width: 19px;
    height: 22px;
    cursor: pointer;
    box-shadow: -225px 0px 0 225px #f58220;
  }
  .thumb {
    background: url(/assets/image/Artboard.png);
    background-position: -175px -50px;
    width: 19px;
    height: 22px;
    position: absolute;
    top: 0;
  }
  .rangeInputWrapper {
    width: 450px;
    /* Full-width */
    margin: 0px 10px;
    position: relative;
  }

  .guideDiv {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: #131313;
  }

  .rangeInputValue {
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    margin: 0px 10px;
    color: #131313;
    font-stretch: normal;
    line-height: normal;
    border-bottom: 1px solid #d9d9d9;
  }

  .rangeInputPrefixSuffix {
    font-size: 0.75rem;
    font-weight: normal;
    text-align: center;
    color: #131313;
    display: flex;
    align-items: center;
  }
  /*style for  buttons*/
  .prevBtn {
    position: absolute;
    top: 45%;
    left: 92%;
    margin: 0px 50px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: space-around;
    background-color: #b8b8b8;
    border-radius: 100px;
    border: none;
  }
  .buttonText {
    display: none;
    color: #ffffff;
  }
  .prevBtn:hover .buttonText {
    display: block;
    padding-left: 10px;
    transition: left;
  }
  .prevBtn:hover {
    background-color: #017dc1;
    width: 114px;
    left: 87%;
    transition: left width 0.5s;
  }

  .nextBtn {
    position: absolute;
    top: 55%;
    left: 92%;
    margin: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #0d4da1;
    border: none;
  }
  .nextBtn:hover .buttonText {
    display: block;
    padding-left: 10px;
    color: #ffffff;
  }
  .nextBtn:hover {
    width: 93px;
    transition: width 0.5s;
  }

  .PreviousImg {
    background: url(/assets/image/Artboard.png);
    background-position: -104px -94px;
    width: 18px;
    height: 15px;
  }

  .nextImg {
    background: url(/assets/image/Artboard.png);
    background-position: -130px -88px;
    width: 32px;
    height: 29px;
  }

  .inputInfo {
    display: flex;
    align-items: center;
  }
  .inputInfoValue {
    opacity: 0.39;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    color: #131313;
    margin: 0 10px;
  }

  .decliningTermInsuranceImage {
    background: url(/assets/image/Artboard.png);
    background-position: -248px -35px;
    width: 42px;
    height: 47px;
  }

  .fixedTermInsuranceImage {
    background: url(/assets/image/Artboard.png);
    background-position: -311px -35px;
    width: 48px;
    height: 48px;
  }

  .radioCardImageHeading {
    width: 60%;
    margin: auto;
    padding-bottom: 10px;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.3;
    text-align: center;
    color: #131313;
  }

  .typeOfLic {
  } /*this is reserved class for radio card selection functionality*/

  .radioOnlyHeadingCard {
    font-size: 0.75rem;
    color: #131313;
    padding: 10px 28px;
  }

  .calculateButton {
    margin-left: 80%;
    left: 60%;
    width: 120px;
    height: 30px;
    font-size: 0.75rem;
    border-radius: 3px;
    background-color: #0d4da1;
    border: none;
  }

  .calculateButton .buttonText {
    display: block;
  }

  .indianRupee {
    color: #464646;
    font-size: 16px;
  }

  .indianRupee-small {
    color: #464646;
    font-size: 12px;
  }

  .saveImg {
    background: url(/assets/image/Artboard.png);
    background-position: -166px -84px;
    width: 32px;
    height: 34px;
  }
  .editIcon {
    background: url(/assets/image/Artboard.png);
    background-position: -210px -51px;
    width: 20px;
    height: 17px;
  }
  .stepInfo {
    font-size: 12px;
    color: #131313;
  }
  .bold {
    font-weight: bold;
  }
  .horoizontalSeprator {
    margin: 5px 0px;
  }
  .step1Info {
    width: 35%;
    padding: 10px 0px;
    font-size: 12px;
  }
  .step1InfoWrapper {
    position: relative;
  }
  .step1EditButton {
    position: relative;
    left: 100%;
    top: 5px;
  }
  .displayNone {
    display: none;
  }
  .show-loader {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      right: 0;
      bottom: 0;
      background: #d8d8d8 url("/assets/image/ring.gif") center center / auto
        60px no-repeat;
      opacity: 0.9;
    }
  }

  .full-width {
    width: calc(100% - 60px) !important;
  }

  .flex {
    display: flex;
  }

  .column {
    flex-direction: column;
  }

  .row {
    flex-direction: row;
  }

  .space-between {
    justify-content: space-between;
  }

  .space-around {
    justify-content: space-around;
  }

  .justify-center {
    justify-content: center;
  }

  .text-center {
    text-align: center;
  }

  .round-border {
    border-radius: 7px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
  }

  #rightWrapper {
    width: 60%;
    padding: 30px;
    margin-left: 30px;

    .amount-title {
      font-size: 14px;
      letter-spacing: normal;
      color: #131313;
    }
    .amount {
      font-family: OpenSans;
      font-size: 24px;
      font-weight: bold;
    }

    .indianRupee {
      font-size: 21px;
      font-weight: normal;
    }

    .blue-text {
      color: #0d4da1;
    }

    .green-text {
      color: #8abe03;
    }

    .orange-text {
      color: #f58220;
    }

    .border-bottom {
      padding-bottom: 10px;
      border-bottom: 0.5px solid #e5e5e5;
    }
    .divider {
      border-right: 1px solid #e5e5e5;
    }

    #thirdRow {
      padding: 20px 0px;
    }
    .col-1 {
      border-right: 0.5px dashed #e5e5e5;
      margin-right: 20px;
      width: 50%;
    }
    .rowTitle {
      width: 50%;
      padding-right: 10px;
      font-size: 12px;
      color: #131313;
    }
    .rowValue {
      font-size: 12px;
      font-weight: bold;
      color: #131313;
    }
    #fifthRow {
      margin: 20px 0px;
      .drBtn,
      .srBtn {
        padding: 5px 40px;
        border: solid 1px #0d4da1;
        font-family: OpenSans;
        font-size: 12px;
        color: #0d4da1;
        background-color: white;
      }
    }
  }
  #leftWrapper {
    width: 40%;
  }
  .nameTitle {
    font-family: OpenSans;
    font-size: 20px;
    font-weight: bold;
    color: #0d4da1;
  }

  .pad-r-10 {
    padding-right: 10px;
  }
  .pad-b-10 {
    padding-bottom: 10px;
  }
  .pad-b-30 {
    padding-bottom: 30px;
  }

  .half-width {
    width: 50%;
  }

  // styling for share wrapper
  .shareWrapper {
    width: 640px;
    height: 310px;
    border-radius: 7px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.55);
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .shareWrapper-heading {
    font-family: OpenSans;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .linkWrapper {
    display: flex;
    border: solid 1px #0d4da1;
    background-color: #f4f4f4;
    width: 70%;
    justify-content: space-between;
    align-items: center;
  }
  .copyButton {
    background-color: #0d4da1;
    font-size: 14px;
    color: #fff;
    padding: 13px 26px;
  }
  .link {
    font-size: 14px;
    color: #131313;
    padding: 8px 13px;
  }
  .borderActive {
    border-left: solid 1px #0d4da1;
    padding-left: 20px;
  }
  .borderInactive {
    border-left: solid 1px #dfdfdf;
    padding-left: 20px;
  }
  #step1Wrapper,
  #step2Wrapper,
  #step3Wrapper {
    min-height: 35px;
    position: relative;
    padding-left: 20px;
  }
  .inactiveIcon {
    background-image: url(/assets/image/Artboard.png);
    background-position: -76px -51px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: -8px;
  }
  .activeIcon {
    background-image: url(/assets/image/Artboard.png);
    background-position: -48px -48px;
    width: 21px;
    height: 22px;
    position: absolute;
    top: -13px;
    left: -11px;
  }
  .filledIcon {
    background-image: url(/assets/image/Artboard.png);
    background-position: -98px -52px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3px;
    left: -8px;
  }
}
